#pragma once
{% if types_file %}
#include "{{ types_file }}"
{% endif %}

{% if namespace %}
namespace {{ namespace }} {
{% endif %}

{% for struct in structs %}
struct {{ struct.name }};
{% endfor %}

{% for struct in structs %}
void Render{{ struct.name }}(const {{ struct.name }}& msg)
{% endfor %}

{% if namespace %}
}
{% endif %}
