#pragma once
{% if types_file %}
#include "{{ types_file }}"
{% endif %}

{% if namespace %}
namespace {{ namespace }} {
{% endif %}

struct InputBuffer;
struct OutputBuffer;
{% for struct in structs %}
struct {{ struct.name }};
{% endfor %}

{% for struct in structs %}
bool Parse{{ struct.name }}(InputBuffer& buf, {{ struct.name }}* res);
{% endfor %}

{% for struct in structs %}
void Serialize(OutputBuffer& buf, const {{ struct.name }}& msg);
void Serialize(OutputBuffer& buf, int indent, const char* member, const {{ struct.name }}& msg);
{% endfor %}

{% if namespace %}
}
{% endif %}
