#include "{{ lib_dir }}parse_base.hpp"
#include "{{ lib_dir }}input_buffer.hpp"
#include "{{ parse_hpp }}"
#include "{{ types_hpp }}"
{% for dep in type_deps %}
#include "{{dep}}"
{% endfor %}
{% for dep in parse_deps %}
#include "{{dep}}"
{% endfor %}

{% if namespace %}
namespace {{ namespace }} {
{% endif %}

{% for struct in structs %}
bool Parse{{ struct.name }}(InputBuffer& buf, {{ struct.name }}* res)
{
  CHECKED_OP(buf.Expect('{'));

  string id;
  while (true)
  {
    buf.SkipWhitespace();
    // check for a closing tag
    bool end;
    if (buf.ConsumeIf('}', &end) && end)
      break;

    CHECKED_OP(ParseIdentifier(buf, &id));
    buf.SkipWhitespace();

    {% for member in struct.members %}
    if (id == "{{ member.name }}")
    {
      {% if member.is_array %}
      buf.SkipWhitespace();
      CHECKED_OP(buf.Expect('['));

      while (true)
      {
        buf.SkipWhitespace();

        // check for the closing ']'
        bool closing;
        CHECKED_OP(buf.ConsumeIf(']', &closing));
        if (closing)
          break;

        // parse the value
        {{ member.inner_type }} value;
        CHECKED_OP({{ member.parser }}(buf, &value));
        res->{{ member.name }}.push_back(value);

        buf.SkipWhitespace();
        CHECKED_OP(buf.ConsumeIf(',', nullptr));
      }
      buf.SkipWhitespace();
      CHECKED_OP(buf.Expect(';'));

      {% else %}
      CHECKED_OP({{ member.parser }}(buf, &res->{{ member.name }}));
      buf.SkipWhitespace();
      CHECKED_OP(buf.Expect(';'));
      {% endif %}
    }
    {% endfor %}
  }
  return true;
}

{% endfor %}

{% for struct in structs %}
void Serialize(OutputBuffer& buf, const {{ struct.name }}& msg)
{
  buf.EnsureCapacity(32);
  buf._ofs += sprintf(buf.Cur(), "{\n");

  {% for member in struct.members %}
  {{ member.writer }}(buf, 2, "{{ member.name }}", msg.{{ member.name }});
  {% endfor %}

  buf._ofs += sprintf(buf.Cur(), "};\n");
}

void Serialize(OutputBuffer& buf, int indent, const char* member, const {{ struct.name }}& msg)
{
  {% for member in struct.members %}
  {{ member.writer }}(buf, indent, "{{ member.name }}", msg.{{ member.name }});
  {% endfor %}
}

{% endfor %}


{% if namespace %}
}
{% endif %}
