#pragma once

{% if namespace %}
namespace {{ namespace }} {
{% endif %}

struct InputBuffer;
{% for struct in structs %}
struct {{ struct.name }};
{% endfor %}

{% for struct in structs %}
bool Parse{{ struct.name }}(InputBuffer& buf, {{ struct.name }}* res);
{% endfor %}

{% if namespace %}
}
{% endif %}
