#pragma once
{% if types_file %}
#include "{{ types_file }}"
{% endif %}

{% if namespace %}
namespace {{ namespace }} {
{% endif %}

struct InputBuffer;
struct OutputBuffer;
{% for struct in structs %}
struct {{ struct.name }};
{% endfor %}

{% for struct in structs %}
{{ struct.name }} Parse{{ struct.name }}(InputBuffer& buf);
{% endfor %}

// Functions are created for both the case when the struct is a top-level struct,
// and for when it's a member of another struct
{% for struct in structs %}
void Serialize(OutputBuffer& buf, const {{ struct.name }}& msg);
void Serialize(OutputBuffer& buf, int indent, const char* member, const {{ struct.name }}& msg);
{% endfor %}

{% if namespace %}
}
{% endif %}
