#pragma once
{% if types_file %}
#include "{{ types_file }}"
{% endif %}

{% if namespace %}
namespace {{ namespace }} {
{% endif %}

{% for dep in deps %}
#include "{{dep}}"
{% endfor %}

{% for struct in structs %}
struct {{ struct.name }}
{
  {% for member in struct.members %}
  {% if member.default_value %}
  {% if member.basic_types %}
  {{ member.print_type }} {{ member.name}} = {{ member.default_value }};
  {% else %}
  {{ member.print_type }} {{ member.name}} = {{ member.print_type }}({{ member.default_value }});
  {% endif %}
  {% else %}
  {{ member.print_type }} {{ member.name}};
  {% endif %}
  {% endfor %}
};

{% endfor %}

{% if namespace %}
}
{% endif %}
