#pragma once
{% if types_file %}
#include "{{ types_file }}"
{% endif %}

{% if namespace %}
namespace {{ namespace }} {
{% endif %}

{% for dep in deps %}
#include "{{dep}}"
{% endfor %}

{% for struct in structs %}
struct {{ struct.name }}
{
  {% for member in struct.members %}
  {% if member.array_len > 0 %}
  {{ member.type_name }} {{ member.name }}[{{ member.array_len }}];
  {% else %}
  {{ member.type_name }} {{ member.name }};
  {% endif %}
  {% endfor %}
};

{% endfor %}

{% if namespace %}
}
{% endif %}
